<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Catalogo</title>
</head>

<body>

    <th:block th:fragment="cuestionarioCatalogo (titulo, descripcion, autor, pos)">
        
        <div class="card mt-4 text-light" style="background-color: hsla(295, 41%, 16%, 0.9);" >
            <div class="card-header" th:id="'heading' + ${pos}">
                <h2 class="card-title stretched-link text-light" th:text="${titulo}" ></h2>
                <!-- th:attr="data-bs-target='#collapse' + ${pos},aria-controls='collapse' + ${pos}" data-bs-toggle="collapse" aria-expanded="true" --> 
                <h4 class="card-subtitle text-secondary mt-3" th:text="${autor}"></h4>
                <div class="d-flex flex-row justify-content-between mt-3">
                    
                    <!-- <div class="d-flex justify-content-start gap-2">
                        <button class="btn btn-sm btn-light" style="color: hsla(295, 41%, 16%, 0.9);" type="button" th:each="tag : ${tags}" th:text="${tag}"></button>
                    </div> -->
                    <!-- <div class="d-flex justify-content-end gap-2">
                        <h5>Lanzado <span th:text="${veces}"></span> veces</h5>
                        <h4>★ <span th:text="${valoracion}"></span></h4>
                    </div> -->
                </div>
            </div>
            <div th:id="'collapse' + ${pos}" class="collapse" th:attr="aria-labelledby='heading' + ${pos}">
                <div class="card-body">
                    <p th:text="${descripcion}" class="card-text"></p>
                    
                </div>
            </div>
            
        </div>
        <form th:action="@{/__${pos}__/quizz_link}" id="formLink">
            <button type="submit" style="color: hsla(295, 41%, 16%, 0.9);" class="btn btn-light float-end mb-3">Lanzar</button>
        </form>
        
    </th:block>
</body>

</html>