<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mi Vista</title>
</head>

<body class="d-flex flex-column h-100" style="background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="mt-5">Profesores registrados:</h2>

            <div class="row mt-4 mb-3">
                <a th:href="@{/profesores/nuevo}" class="btn btn-lg btn-primary btn-block" type="button">+ Añadir nuevo profesor</a>
            </div>

            <div class="d-flex flex-column h-100 row" th:each="profesor : ${profesores}">
                <button class = "btn btn-lg btn-secondary btn-block mb-2" type="submit" name="profesorId" th:value="${profesor.id}">
                    <span th:text="${profesor.username}"></span>
                </button>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>