<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mi Vista</title>
</head>

<body class="d-flex flex-column h-100" style="background-color: #f3bf07;">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h2 class="mt-5">Profesores registrados:</h2>

            <div class="row mt-4 mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="button">+ Añadir nuevo profesor</button>
            </div>

            <div>
                <div class="d-flex flex-column h-100 row gy-3" id="listaProfesores">
            </div>
        </div>
    </main>

    <script>
        let names = ['Adrian', 'Daniel', 'David', 'Alberto', 'Gonzalo'];
        let list = document.getElementById("listaProfesores");

        let i = 0;
        names.forEach( (item) => {
            
            let cont = document.createElement("button");
            cont.innerText = item;
            cont.className = "btn btn-lg btn-secondary btn-block";
            list.appendChild(cont);

        } );
    </script>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>

<style>
    #añadir button {
        color:rgb(230, 230, 230);
        background-color: rgb(41, 176, 255);
        border: 1px solid black;
        margin-top: 10px;
        height: 70px;
        width: 100%;
        border-radius: 20px;
    }
</style>