<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mi Vista</title>
</head>

<body class="d-flex flex-column h-100" style="background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0">
        <div class="container mt-5">
            <h1 class="mt-5">Catálogo</h1>
            <div th:each="cuestionario : ${cuestionarios}">
                <p th:text="${cuestionario}"></p>
                <th:block th:replace="fragments/cuestionarioCatalogo.html :: cuestionarioCatalogo(titulo=${cuestionario.titulo}, descripcion=${cuestionario.descripcion}, autor='Antonio', pos=${cuestionario.id})"></th:block>
            </div>
        </div>
    </main>
    
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>