<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IW: Crear Preguntas</title>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" type="text/css" href="/css/creapregunta.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/'-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/iw.js}"></script>
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>
    <div class="alineados">
      
        <h1 class = "titulocuestionario"> [[${cuestionario.titulo}]]</h1>
        <div class="sidebar-box">
            <select class="styled-select" id="miSelect">
                <option hidden> Selecciona una opción</option>
                <option value="VF">Verdadero y Falso</option>
                <option value="DE">Desarrollo</option>
                <option value="OP">Opciones</option>
                <option value="OF">Desarrollo con imagen</option>
            </select>
            
        </div>  
       
        <br><br><br>
    </div>
     

    <form class="crearCuestionario d-none" th:action="@{/cuestionario/__${cuestionario.id}__/__${pregunta.id}__/crearpregunta}" method="post" id="preguntaVF">
        <input id = "tituloVF" class="pregunta" type="text" name="titulo" placeholder="Escriba su pregunta">
        <input type="hidden" name="type" value="TRUE_FALSE">
        <input type="hidden" name="jsonRespuestas" id="jsonRespuestasVF">

        <input type="hidden" id="respuestaMarcadaVF">
        <p>Seleccione la respuesta correcta :</p>
        <br><br>

        <div class="btn-group" role="group">
            <a id = "bV" class="V" onclick='javascript:$("#respuestaMarcadaVF").val("V"); $(this).addClass("marcado").siblings().removeClass("marcado")'>V</a>
            <a id = "bF" class="F" onclick='javascript:$("#respuestaMarcadaVF").val("F"); $(this).addClass("marcado").siblings().removeClass("marcado")'>F</a>    
        </div>
        
        <br>
        <div>
            <p class="bombilla"><i class="fa-solid fa-book"></i></p>
            <textarea id = "expVF" name="explicacion" placeholder="Escriba su explicacion de la respuesta"></textarea>
        </div>
        <input id = "sigVF" class = "siguiente" type="submit">
        <br><br><br>
    </form>

    <form class="crearCuestionario d-none" th:action="@{/cuestionario/__${cuestionario.id}__/__${pregunta.id}__/crearpregunta}" method="post" id="preguntaDE">
        <input id = "tituloDE" class="pregunta" type="text" name="titulo" placeholder="Escriba su pregunta">
        <input type="hidden" name="type" value="RESPUESTA_CORTA">
        <input type="hidden" name="jsonRespuestas" id="jsonRespuestasDE">
        <br><br><br>
        <div>
            <p class="bombilla"><i class="fa-solid fa-book"></i></p>
            <textarea name="explicacion" id = "explicacionDE" placeholder="Escriba su explicacion de la respuesta"> </textarea>
        </div>
        <br><br><br><br><br>
        <div>
            <p class="bombilla"><i class="fa-solid fa-lightbulb"></i></p>
            <textarea name="pista" id = "pistaDE" placeholder="Escriba su pista"> </textarea>
        </div>
        <input id="sigDE" class = "siguiente" type="submit">
        <br><br><br>
    </form>

    <form class="crearCuestionario d-none" th:action="@{/cuestionario/__${cuestionario.id}__/__${pregunta.id}__/crearpregunta}" method="post" id="preguntaOP">
        <input id = "tituloOP" class="pregunta" type="text" name="titulo" placeholder="Escriba su pregunta">
        <input type="hidden" name="type" value="OPCION_MULTIPLE">
        <input type="hidden" name="jsonRespuestas" id="jsonRespuestasOP">

        <input type="hidden" id="respuestaMarcadaOP">
        <p> Seleccione la respuesta correcta :</p>
        <br><br>
        <div class="options-container">
        <div class="btn-group" role="group">
            <div class="row">
                <div class="col-md-6">
                    <a id = "aOP" class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("A")'>A</a>
                    <input class="respuesta" type="text" name="texto" id="respuestaOPA" placeholder="Escriba su respuesta">
                </div>
                <div class="col-md-6">
                    <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("B")'>B</a>
                    <input class="respuesta" type="text" name="texto" id="respuestaOPB" placeholder="Escriba su respuesta">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("C")'>C</a>
                    <input class="respuesta" type="text" name="texto" id="respuestaOPC" placeholder="Escriba su respuesta">
                </div>
                <div class="col-md-6">
                    <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("D")'>D</a>
                    <input class="respuesta" type="text" name="texto" id="respuestaOPD" placeholder="Escriba su respuesta">
                </div>
            </div>
        </div>
            <br><br><br>
        </div>
        <div>
            <p class="bombilla"><i class="fa-solid fa-book"></i></p>
            <textarea id = "expOP" name="explicacion" placeholder="Escriba su explicacion de la respuesta"> </textarea>
        </div>
        <input id = "sigOP" class = "siguiente" type="submit">
        <br><br><br>
    </form>
    <div class="foto_pregunta crearCuestionario d-none" id="preguntaOF">


        <input type="file" id="input_foto" accept="image/jpeg,image/png">
        <img class="preview" id="preview_foto" alt="ilustracion a subir" />
        <form th:action="@{/cuestionario/__${pregunta.id}__/pic}" id="formFoto">

        </form>
        <form th:action="@{crearpregunta}" method="post" id="formOF">
            <input class="pregunta" type="text" name="titulo" placeholder="Escriba su pregunta">
            <input type="hidden" name="type" value="RESPUESTA_FOTO">

            <br><br><br>
            <input type="hidden" name="jsonRespuestas" id="jsonRespuestasOF">
            <br><br><br>
            <div>
                <p class="bombilla"><i class="fa-solid fa-book"></i></p>
                <textarea id="respuestaOF" placeholder="Escriba la respuesta"></textarea>
            </div>
            <br><br><br><br><br>
            <div>
                <p class="bombilla"><i class="fa-solid fa-lightbulb"></i></p>
                <textarea name="explicacion" placeholder="Escriba su explicacion"></textarea>
            </div>
            <input class="siguiente" type="submit">
            <br><br><br>
        </form>
    </div>

    <br><br><br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
        $("#miSelect").change(function () {
            // Obtener el valor de la opción seleccionada
            var opcionSeleccionada = $(this).val();
            $(".crearCuestionario").hide();
            switch (opcionSeleccionada) {
                case "VF":
                    $("#preguntaVF").removeClass("d-none").show();
                    break;
                case "DE":
                    $("#preguntaDE").removeClass("d-none").show();
                    break;
                case "OP":
                    $("#preguntaOP").removeClass("d-none").show();
                    break;
                case "OF":
                    $("#preguntaOF").removeClass("d-none").show();
                    break;
            }

        });
        $("#preguntaVF").submit(function (e) {
            if ($("#respuestaMarcadaVF").val() == "V") {
                jsonText = "[{'respuesta':'V', 'nota': 10.0} , {'respuesta':'F', 'nota': 0.0}]";
                $("#jsonRespuestasVF").val(jsonText);
            } else {
                jsonText = "[{'respuesta':'V', 'nota': 0.0} , {'respuesta':'F', 'nota': 10.0}]";
                $("#jsonRespuestasVF").val(jsonText);
            }
        });
        $("#preguntaDE").submit(function (e) {
            let exp = document.getElementById("explicacionDE").value;
            jsonText = "[{'respuesta':" + exp + ", 'nota': 10.0}]";
            $("#jsonRespuestasDE").val(jsonText);
        });

        $("#formOF").submit(function (e) {

            let url = $("#formFoto").prop("action");
            let img = document.getElementById("preview_foto");
            let file = document.getElementById("input_foto");
            postImage(img, url, "photo").then()

            let respuesta = $("#respuestaOF").val();
            jsonText = "[{'respuesta':" + respuesta + ", 'nota': 10.0}]";
            $("#jsonRespuestasOF").val(jsonText);
        });

        $("#preguntaOP").submit(function (e) {
            let reA = document.getElementById("respuestaOPA").value;
            let reB = document.getElementById("respuestaOPB").value;
            let reC = document.getElementById("respuestaOPC").value;
            let reD = document.getElementById("respuestaOPD").value;

            

            if ($("#respuestaMarcadaOP").val() == "A") {
                jsonText = "[{'respuesta': '" + reA + "', 'nota': 10.0} , {'respuesta': '" + reB + "', 'nota': 0} , {'respuesta': '" + reC + "', 'nota': 0} , {'respuesta': '" + reD + "', 'nota': 0}]";
                $("#jsonRespuestasOP").val(jsonText);
            } else if ($("#respuestaMarcadaOP").val() == "B") {
                jsonText = "[{'respuesta': '" + reA + "', 'nota': 0} , {'respuesta': '" + reB + "', 'nota': 10.0} , {'respuesta': '" + reC + "', 'nota': 0} , {'respuesta': '" + reD + "', 'nota': 0}]";
                $("#jsonRespuestasOP").val(jsonText);
            } else if ($("#respuestaMarcadaOP").val() == "C") {
                jsonText = "[{'respuesta': '" + reA + "', 'nota': 0} , {'respuesta': '" + reB + "', 'nota': 0} , {'respuesta': '" + reC + "', 'nota': 10.0} , {'respuesta': '" + reD + "', 'nota': 0}]";
                $("#jsonRespuestasOP").val(jsonText);
            } else {
                jsonText = "[{'respuesta': '" + reA + "', 'nota': 0} , {'respuesta': '" + reB + "', 'nota': 0} , {'respuesta': '" + reC + "', 'nota': 0} , {'respuesta': '" + reD + "', 'nota': 10.0}]";
                $("#jsonRespuestasOP").val(jsonText);
            }
        });

        $('.opciones').click(function() {
            $(this).addClass('marcado').parent().parent().siblings().find('.opciones').removeClass('marcado');
            $(this).addClass('marcado').parent().siblings().find('.opciones').removeClass('marcado');
            $("#respuestaMarcadaOP").val($(this).text());
        });

        document.querySelector("#input_foto").onchange = e => {
            let img = document.querySelector("#preview_foto");
            let fileInput = e.target;
            console.log(img, fileInput);
            readImageFileData(fileInput.files[0], img);
        };




    </script>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>