<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <link rel="stylesheet" type="text/css" href = "css/creapregunta.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class ="crearCuestionario">
        <p><input class="pregunta"type="text" name="texto" placeholder="Escriba su pregunta"></p>
           
        <p> Seleccione la respuesta correcta :</p>
        <br><br><br> 
        
            <a class="V">V</a>
           
            <a class="F">F</a>
            <br><br><br><br><br><br><br><br>
            <div>
                <p class ="bombilla"><i class="fa-solid fa-book"></i></p>
                <textarea name="pista" placeholder="Escriba su explicacion de la respuesta"> </textarea>
            </div>
    </div>
    <div class ="crearCuestionario">
        <p><input class="pregunta"type="text" name="texto" placeholder="Escriba su pregunta"></p>
        <br><br><br> 
            <div>
                <p class ="bombilla"><i class="fa-solid fa-book"></i></p>
                <textarea name="pista" placeholder="Escriba su explicacion de la respuesta"> </textarea>
            </div>
            <br><br><br><br><br>
            <div>
                <p class ="bombilla"><i class="fa-solid fa-lightbulb"></i></p>
                <textarea name="pista" placeholder="Escriba su pista"> </textarea>
            </div>
           
    </div>
    <div class ="crearCuestionario">
        <p><input class="pregunta"type="text" name="texto" placeholder="Escriba su pregunta"></p>
           
        <p> Seleccione la respuesta correcta :</p>
        <br><br><br> 
         <div>
            <a class="opciones">A</a>
            <input class="respuesta"type="text" name="texto" placeholder="Escriba su respuesta">
            <a class="opciones">B</a>
            <input class="respuesta"type="text" name="texto" placeholder="Escriba su respuesta">
        </div>
        <div>

            <a class="opciones">C</a>
            <input class="respuesta"type="text" name="texto" placeholder="Escriba su respuesta">
            <a class="opciones">D</a>
            <input class="respuesta"type="text" name="texto" placeholder="Escriba su respuesta">
            <br><br><br><br><br><br><br><br>
        </div>
            <div>
                <p class ="bombilla"><i class="fa-solid fa-book"></i></p>
                <textarea name="pista" placeholder="Escriba su explicacion de la respuesta"> </textarea>
            </div>
    </div>
</body>

</html>