<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" type="text/css" href = "/css/creapregunta.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>
    <th:block th:replace="fragments/head :: header" />

</head>

<body>
<!--
    <header th:replace="fragments/nav.html :: nav"></header>
    <form  class="crearCuestionario" method="post" th:action="@{/PIN}" th:object="${user}">
        <br><br>
        <h2 class="enunciado">PIN DE LA PARTIDA</h2>    
            <input type="text" class="formInput" name="username" placeholder="apodo">

            <input type="text" class="formInput" name="classInput" placeholder="clase">
    
            <input type="text" class="formInput" name="pin" placeholder="pin de la partida"> 
       
        
        <button class="siguiente">ENVIAR</button>
        <br><br>
        
    </form>
    <br><br><br>
    <th:block th:replace="fragments/footer.html :: footer" />
-->
    <div class ="responderCuestionario">
        <form method = "post" th:action = "@{/PIN}" th:object="${user}">
            <h2 class="enunciado">PIN DE LA PARTIDA</h2>
           
            <div>
                <input type="text" class="formInput" name="username" placeholder="Apodo">
            </div>
            <div>
                <input type="text" class="formInput" name="classInput" placeholder="Clase">
            </div>
            
            <div>
                   
                <input type="text" class="formInput" name="pin" placeholder="Pin de la partida">
            </div>
            
            <button type = "submit" class="btnEnviar">ENVIAR</button>
        </form>
    </div>
   
</body>

</html>