<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <meta charset="UTF-8">
    <title>Crear Clase</title>
    <link rel="stylesheet" type="text/css" href="/css/seleccionclases.css">
</head>

<body class="background: url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');">
    <header th:replace="fragments/nav.html :: nav"></header>
    <br><br>
    <main style="min-height: calc(100vh - 120px);">
        <h1>Estas son sus clases</h1>
        <br><br>
        <div>
            <fieldset>
                <div class="container" th:each="clase : ${clases}">
                    <ul>
                        <li>
                            <label class="lista" th:text="${clase.nombre}"></label>
                            
<!--
                <div class="container" th:each="clase, iter : ${clases}">
                    <ul>
                        <li>
                            <input type="checkbox" th:id="'checkbox' + ${iter.index}"
                                th:name="'checkbox' + ${iter.index}" th:value = "${clase.id}">
                            <label th:for="'checkbox' + ${iter.index}" th:text="${clase.nombre}">Nombre de la
                                clase</label>
-->
                        </li>
                    </ul>
                </div>

                <div class="botones text-center">
                    <a class="siguiente" href="/clases/crearclase2"> Nueva Clase</a>
                </div>
            </fieldset>

            <br><br>

        </div>

    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>