<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>IW: Login</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <form class="box" method="post" th:action="@{/login}">
      <div class='box-form'>
        <div class='box-login-tab'></div>
        <div class='box-login-title'>
          <div class='i i-login'></div>
        </div>
        <div class='box-login'>
          <div class='fieldset-body' id='login_form' method="post" th:action="@{/login}">
            <div class='b b-form i i-more'></div>

            <p class='field'>
              <label for="username" class="visually-hidden">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                required="required">
              <span id='valida' class='i i-warning'></span>
            </p>
            <p class='field'>
              <label for="password" class="visually-hidden">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                required="required">
              <span id='valida' class='i i-close'></span>
            </p>
            <div class="box-login-bottom-text">
              <p>¿No tienes una cuenta? <a href="/register">Regístrate aquí</a></p>
            </div>
            <div class="box-login-bottom-text">
              <p>¿Quieres acceder a un cuestionario directamente?<a href="/PIN">Pulse aquí</a></p>
            </div>

            <button type='submit' id='do_login' value='GET STARTED' title='Get Started'>LOGIN</button>

          


        </div>

    </form>

  </main>
  <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>