<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mi Vista</title>
</head>

<body class="d-flex flex-column h-100" style="background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main>
        <h2 class="text-center text-black mt-4 mb-4">Selecciona que usuario asignar el rol de profesor</h2>
        <table class="table table-striped table-hover">
            <thead class="text-white" style="background-color: hsla(295, 41%, 16%, 0.9);">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.firstName}" class="align-middle"></td>
                <td th:text="${usuario.lastName}" class="align-middle"></td>
                <td th:text="${usuario.username}" class="align-middle"></td>
                <td class="align-middle">
                  <form th:action="@{/usuarios/{id}/rol(id=${usuario.id})}" method="post">
                    <input type="hidden" name="_method" value="put" />
                    <input type="hidden" name="rol" value="PROFESOR" />
                    <button type="submit" class="btn btn-success">Asignar rol de profesor</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>