<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <link rel="stylesheet" type="text/css" href = "css/opcionesCreado.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>
</head>

<body>
 
  <div class ="crearCuestionario">
    <h1> ¿Como desea hacer el cuestionario?</h1>
    <br><br><br> 
    <div>
        
        <a >Importar Cuestionario</a>
        
        <a href="CC" >Crear  <br> Cuestionario</a>
    </div>
    
</div>



</body>

</html>