<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" type="text/css" href="/css/paginaespera.css">
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script> -->
</head>
<body>
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <div class="wrapper">
        <span class="circle circle-1"></span>
        <span class="circle circle-2"></span>
        <span class="circle circle-3"></span>
        <span class="circle circle-4"></span>
        <span class="circle circle-5"></span>
        <span class="circle circle-6"></span>
        <span class="circle circle-7"></span>
        <span class="circle circle-8"></span>
    </div>

    <p class="info">Esperando al profesor...</p>

    
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>

    <script>
        config.codigoEvento = "[[${code}]]";
    </script>
    <th:block th:replace="fragments/footer.html :: footer" />

    <script>
        const oldReceive = ws.receive;
        ws.receive = (d) => {
          oldReceive(d);
          if (d.type === "start") {
            window.location.href = "/cuestionario/" + "[[${cuestionario.id}]]" +  "/0/responder?code=" + "[[${code}]]";
          }
          else if(d.type === "next"){
            window.location.href = "/cuestionario/" + "[[${cuestionario.id}]]/" +  d.pregunta + "/responder?code=" + "[[${code}]]";
          }
          else if (d.type === "end") {
                window.location.href = "/cuestionario/ranking?code=" + "[[${code}]]";
          }
        };
  
      </script>
</body>

</html>