<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>QUIZZOL: LINK</title>
</head>

<body style="background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');"class="d-flex flex-column h-100">
    <header id="headder" th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0 col-12" style="margin-top: 100px; display: flex">
        <!--<div class="container">
            
        </div>-->

        <!-- LEFT COLUMN -->
        <div class="col-6 px-5" id="leftColumn" style=" padding-right: 0 !important;">
            <div style="border-right: 5px solid #000;">
                <p>¡Hora de jugar! :D </p>

                <p class="mt-5">Link:</p>

                <p class="mt-5 fs-1 fw-bolder">quizzol.com/477-bcd</p>

                <p class="mt-5 fs-2" id="nPlayers">Número de jugadores:</p>

                <button class="mt-10 btn-primary" style="position: absolute; bottom: 0;">COMENZAR</button>
            </div>
        </div>
        
        <!-- RIGHT COLUMN -->
        <div class="col-6 px-5" id="rightColumn" style="background-color: #691b39; color:white">
            <h2>PARTICIPANTES</h2>

            <div style="margin-top: 40px;" id="listaParticipantes"/>

        </div>
        
    </main>

    <script>
        let names = ['Adrian', 'Daniel', 'David', 'Alberto', 'Gonzalo'];
        let list = document.getElementById("listaParticipantes");

        let lC = document.getElementById('leftColumn');

        lC.style.height = window.innerHeight - document.querySelector('.navbar').offsetHeight + 'px;';

        let i = 0;
        names.forEach( (item) => {

            let p = document.createElement("p");
            p.innerText = item;

            list.appendChild(p);

        });
        // console.log(document.getElementById('nPlayers'));
        document.getElementById('nPlayers').innerText = `Número de jugadores: \b \b  ${names.length}`;

    </script>

    <th:block id="footer" th:replace="fragments/footer.html :: footer" />
</body>

</html>

<style>

    .left-container{
        width: 65%;
        height: 100%;
        display: inline-block;
        padding-left: 50px;
        height: 100%;
        background-color: #e7dc3b;
    }

    .right-container {
        padding-right: 50px;
        width: 35%;
        height: 100%;
        background-color: #691b39;
        display: inline-block;
        height: 100%;
    }

</style>