<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Register</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body class="d-flex flex-column h-100" style="background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <form class="box" method="post" th:action="@{/register}" th:object="${user}">
          <div class='box-form'>
            <div class='box-login-tab'></div>
            <div class='box-login-title'>
              <div class='i i-login'></div>
            </div>
            <div class='box-login'>
              <div class='fieldset-body' id='register_form'>
                <div class='b b-form i i-more'></div>
      
                <p class='field'>
                  <label for="first_name" class="visually-hidden">Nombre</label>
                  <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Nombre"
                    required="required" th:field="*{firstName}">
                  <span id='valida' class='i i-warning'></span>
                </p>
                <p class='field'>
                  <label for="last_name" class="visually-hidden">Apellido</label>
                  <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Apellido"
                    required="required" th:field="*{lastName}">
                  <span id='valida' class='i i-warning'></span>
                </p>
                <p class='field'>
                  <label for="username" class="visually-hidden">Nombre de usuario</label>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario"
                    required="required" th:field="*{username}">
                  <span id='valida' class='i i-warning'></span>
                </p>
                <p class='field'>
                  <label for="username" class="visually-hidden">Clases</label>
                  <input type="text" id="class" name="classInput" class="form-control" placeholder="Clases" required="required">
                  <span id='valida' class='i i-warning'></span>
                </p>
                <p class='field'>
                  <label for="password" class="visually-hidden">Contraseña</label>
                  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"
                    required="required" th:field="*{password}">
                  <span id='valida' class='i i-close'></span>
                </p>
      
                <button type='submit' id='form-register' value='REGISTRARSE' title='Registrarse'>REGISTRARSE</button>
              </div>
      
              <div class="box-login-bottom-text">
                <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión aquí</a></p>
              </div>
      
            </div>
      
        </form>
      
      </main>
      

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>