<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" type="text/css" href="/css/responder.css">
    <!--<link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
     <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>-->
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>
    <br><br><br>

    <h1 class="titulocuestionario"> [[${cuestionario.titulo}]]</h1>
    <form th:each="pregunta, iter : ${preguntas}" class="crearCuestionario" th:if="${iter.index == contador}">
        <h2 class="enunciado">[[${pregunta.titulo}]]</h2>
        <th:block th:switch="${pregunta.type.name()}">
            <th:block th:case="'TRUE_FALSE'">
                <p> Seleccione la respuesta correcta:</p>
                <br>
                <div class="botonesVF">
                    <a class="V">V</a>
                    <a class="F">F</a>
                </div>
                <br>
                <input class="siguiente" type="submit">
            </th:block>
            <th:block th:case="'OPCION_MULTIPLE'">
                <p> Seleccione la respuesta correcta:</p>
                <div class="row">
                    <div class="col-md-6">
                        <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("A")'>A</a>
                        <p class="respuesta">[[${pregunta.respuestas[0].respuesta}]]</p>
                    </div>
                    <div class="col-md-6">
                        <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("B")'>B</a>
                        <p class="respuesta">[[${pregunta.respuestas[1].respuesta}]]</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("C")'>C</a>
                        <p class="respuesta">[[${pregunta.respuestas[2].respuesta}]]</p>
                    </div>
                    <div class="col-md-6">
                        <a class="opciones" onclick='javascript:$("#respuestaMarcadaOP").val("D")'>D</a>
                        <p class="respuesta">[[${pregunta.respuestas[3].respuesta}]]</p>
                    </div>
                </div>
                <br>
                <input class="siguiente" type="submit">
            </th:block>
            <th:block th:case="'RESPUESTA_CORTA'">
                <p>Responda a continuación:</p>
                <br>
                <div>
                    <input name="respuesta" class="formInput" placeholder="respuesta">
                </div>
                <br>
                <input class="siguiente" type="submit">
            </th:block>
            <th:block th:case="'RESPUESTA_FOTO'">
                <p>Responda a continuación:</p>
                <img src="/img/earth.jpg" class="img_respuesta">
                <p>Responda a continuación:</p>
                <div>
                    <input name="respuesta" class="formInput" placeholder="respuesta">
                </div>

                <input class="siguiente" type="submit">
            </th:block>

        </th:block>
    </form>

    <script>
        config.codigoEvento = "[[${code}]]";
    </script>
    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        const oldReceive = ws.receive;
        let contador = 0;
        ws.receive = (d) => {
            oldReceive(d);
            if (d.type === "next") {
                contador++;
            }
        };
    </script>

</body>

</html>