<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <link rel="stylesheet" type="text/css" href = "css/creapregunta.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class ="responderCuestionario">
        <h2 class="enunciado">¿¿¿¿PREGUNTA????</h2>
           
        <p> Seleccione la respuesta correcta :</p>
        <br><br><br> 
        
            <a class="V">V</a>
           
            <a class="F">F</a>
            <br>

    </div>
    <div class ="responderCuestionario">
        <h2 class="enunciado">¿¿¿¿PREGUNTA????</h2>
        <br><br><p>Responda a continuación:</p><br> 
            <div>
                
                <textarea name="respuesta" placeholder="Escriba su respuesta"> </textarea>
            </div>
            <br>
        <a class="btnEnviar">ENVIAR</a>
           
    </div>
    <div class ="responderCuestionario">
        <h2 class="enunciado">¿¿¿¿PREGUNTA????</h2>   
        <p> Seleccione la respuesta correcta :</p>
        <br><br><br> 
         <div>
            <a class="opciones">A</a>
            <span class="respuesta">Respuesta "A"</span>
            <a class="opciones">B</a>
            <span class="respuesta">Respuesta "B"</span>
        </div>
        <div>

            <a class="opciones">C</a>
            <span class="respuesta">Respuesta "C"</span>
            <a class="opciones">D</a>
            <span class="respuesta">Respuesta "D"</span>
            <br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div class ="responderCuestionario">
        <h2 class="enunciado">¿¿¿¿PREGUNTA????</h2>   
        
            <img src="img/earth.jpg" class="img_respuesta">

            <p>Escriba su respuesta a continuación:</p>
            <div>
               
                <textarea name="respuesta" placeholder="Escriba su respuesta"> </textarea>
            </div>
            
            <a class="btnEnviar">ENVIAR</a>
           
    </div>
</body>

</html>