<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IW: Welcome</title>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" type="text/css" href="/css/creapregunta.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/e2e2d067dc.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2e2d067dc.js" crossorigin="anonymous"></script>
</head>

<body>
   <header th:replace="fragments/nav.html :: nav"></header>
   <br><br>
    <div class="principal">
        <h1 class="titulocuestionario"> [[${cuestionario.titulo}]]</h1>
    </div>
    <div class="principal">
    
        <form th:action="@{/cuestionario/__${cuestionario.id}__/verpreguntas}" th:object="${pregunta}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="code" th:value="${code}" />
            <input href ="clases/catalogo"class = "añadir" type="submit" value="Nueva Pregunta" />
        </form>

        <a href="/profesor" class="añadir"type="submit"> Crear</a> 
    </div>

    <div th:each="pregunta : ${preguntas}" class="responderCuestionario">
        <h2 class="enunciado">[[${pregunta.titulo}]]</h2>
        <th:block th:switch="${pregunta.type.name()}">
            <th:block th:case="'TRUE_FALSE'">
                <p> Seleccione la respuesta correcta:</p>
                <br>
                <div class="botonesVF">
                    <a class="V">VERDADERO</a>
                    <a class="F">FALSO</a>
                </div>
                <br>
            </th:block>
            <th:block th:case="'OPCION_MULTIPLE'">
                <p> Seleccione la respuesta correcta:</p>

                <br>
                <div class="row options-container">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <a class="opciones">A</a>
                        <p class="respuesta">[[${pregunta.respuestas[0].respuesta}]]</p>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <a class="opciones">B</a>
                        <p class="respuesta">[[${pregunta.respuestas[1].respuesta}]]</p>
                    </div>
                </div>
                <div class="row options-container">
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <a class="opciones">C</a>
                        <p class="respuesta">[[${pregunta.respuestas[2].respuesta}]]</p>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <a class="opciones">D</a>
                        <p class="respuesta">[[${pregunta.respuestas[3].respuesta}]]</p>
                    </div>
                </div>
                
                
            </th:block>
            <th:block th:case="'RESPUESTA_CORTA'">
                <p>Responda a continuación:</p>
                <br>
                <div>
                    <input name="respuesta" class="formInput" placeholder="respuesta">
                </div>
                <br>
                <a class="btnEnviar">ENVIAR</a>
            </th:block>
            <th:block th:case="'RESPUESTA_FOTO'">
                <img class="img_respuesta" th:src="@{/cuestionario/1/pic(id=${pregunta.id})}">
                <p>Responda a continuación:</p>
                <div>
                    <input name="respuesta" class="formInput" placeholder="respuesta">
                </div>
        
                <a class="btnEnviar">ENVIAR</a>
            </th:block>

        </th:block>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>